/*override*/
header.masthead{
    opacity: 0.8;
}

.call-to-action{
    background: url("../img/focus1152.jpg") no-repeat center center;
    opacity: 0.8;
}

.call-to-action.menu-area{
    background: #919191 no-repeat center center;
}

.call-to-action.admin-area{
    /*#9fcdff*/
    background: #FAFAFA no-repeat center center;
}

.call-to-action.user-area{
    background: #f5f5ff no-repeat center center;
}
/*custom area*/
.content {
    position: relative;
    background-color: white;
    /*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/*custom*/
.word-0{
    font-size: 22px;
}
.word-1{
    font-size: 24px;
}
.word-2{
    font-size: 26px;
}
.word-3{
    font-size: 28px;
}
.word-4{
    font-size: 30px;
}
.word-5{
    font-size: 32px;
}
.nav-custom{
    font-size: 20px;
}
/*table*/
table.table-custom{
    width: 100%;
}
table.table-custom thead tr th {
    background-color: #004085;
    color: white;
    padding: 40px 10px;
    font-size: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}
table.table-custom tbody tr td{
    background-color: #EBEBFF;
    color: black;
    padding: 30px 0;
    font-size: 22px;
    border-bottom: 3px solid #000080;
}
table.table-custom tbody tr td:hover{
    background-color: #E0E0FF;
}
/*red table*/
table.table-custom.table-red thead tr th{
    background-color: #AA0000;
}
table.table-custom.table-red tbody tr td{
    background-color: #FFF2F2;
    color: black;
    border-bottom: 4px solid #FF8282;
}
table.table-custom.table-red tbody tr td:hover{
    background-color: #FFD4D4;
}
/*grey table*/
table.table-custom.table-grey thead tr th{
    background-color: #828282;
}
table.table-custom.table-grey tbody tr td{
    background-color: #F5F5F5;
    color: black;
    border-bottom: 4px solid #8C8C8C;
}
table.table-custom.table-grey tbody tr td:hover{
    background-color: #E8E8E8;
}
/*table black*/
table.table-custom.table-black thead tr th{
    background-color: black;
}
table.table-custom.table-black tbody tr td{
    background-color: #FAFAFA;/*white*/
    color: black;
    border-bottom: 4px solid #1b1e21;
}
table.table-custom.table-black tbody tr td:hover{
    background-color: #EDEDED;/*f5f5f5*/
}
/*input field*/
input.cus-input{
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    /*#b8daff*/
    background-color: #DEDEDE;
    border: 0;
}
input.cus-input:hover{
    /*#10707f*/
    border: 5px solid #B5B5B5;
}
/*select field*/
select.cus-select{
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
}
/*input file*/
input[type=file].cus-file{
    font-size: 16px;
    padding: 3px;
}
/*textarea*/
textarea.cus-textarea{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
}
/*panel*/
.cus-menu-title{
    font-size: 60px;
}
.cus-menu-title:hover{
    font-size: 62px;
}
.cus-menu{
    font-size: 24px;
}
.cus-menu:hover{
    font-size: 28px;
    background-color: #ABABAB;
    border:  2px solid #919191;
    border-radius: 3px;
}
.cus-menu a{
    color: white;
}