/*override*/
header.masthead{
    opacity: 0.8;
}

.call-to-action{
    background: url("../img/focus1152.jpg") no-repeat center center;
    opacity: 0.8;
}

/*custom*/
.word-0{
    font-size: 22px;
}
.word-1{
    font-size: 24px;
}
.word-2{
    font-size: 26px;
}
.word-3{
    font-size: 28px;
}
.word-4{
    font-size: 30px;
}
.word-5{
    font-size: 32px;
}
.nav-custom{
    font-size: 20px;
}
/*table*/
table.table-custom{
    width: 100%;
}
table.table-custom thead tr th {
    background-color: #004085;
    color: white;
    padding: 40px 10px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
}
table.table-custom tbody tr td{
    background-color: #EBEBFF;
    color: black;
    padding: 30px 0;
    font-size: 22px;
    border-bottom: 3px solid #000080;
}
table.table-custom tbody tr td:hover{
    background-color: #E0E0FF;
}
/*red table*/
table.table-custom.table-red thead tr th{
    background-color: #AA0000;
}
table.table-custom.table-red tbody tr td{
    background-color: #FFF2F2;
    color: black;
    border-bottom: 4px solid #FF8282;
}
table.table-custom.table-red tbody tr td:hover{
    background-color: #FFD4D4;
}
/*grey table*/
table.table-custom.table-grey thead tr th{
    background-color: #828282;
}
table.table-custom.table-grey tbody tr td{
    background-color: #F5F5F5;
    color: black;
    border-bottom: 4px solid #8C8C8C;
}
table.table-custom.table-grey tbody tr td:hover{
    background-color: #E8E8E8;
}
/*table black*/
table.table-custom.table-black thead tr th{
    background-color: black;
}
table.table-custom.table-black tbody tr td{
    background-color: white;
    color: black;
    border-bottom: 4px solid #1b1e21;
}
table.table-custom.table-black tbody tr td:hover{
    background-color: #F5F5F5;
}
/*table panel*/
table.table-custom.table-panel thead tr th{
    padding: 60px 10px;
}
table.table-custom.table-panel tbody tr td{
    padding: 70px 0;
    width: 50%;
}
/*input field*/
input.cus-input{
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #b8daff;
}
input.cus-input:hover{
    border: 5px solid #10707f;
}
/*select field*/
select.cus-select{
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
}
/*input file*/
input[type=file].cus-file{
    font-size: 16px;
    padding: 3px;
}